body {
  margin: 0;
  padding: 0;
}

.card {
  display: table;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-top: 10px;
  text-align: center;
  float: right;
  width: 25%;
  margin-bottom: 10px;
  margin-right: 20px;
}
.card .card_information {
  background-color: rgb(243, 243, 243);
  border: 1px solid #bebebe;
  color: grey;
}
.card .card_information .card_price {
  color: grey;
  font-size: 22px;
}
.card .card_title {
  background-color: rgb(238, 238, 238);
  border: 1px solid #bebebe;
}
.card .card_bottom {
  padding-top: 10px;
  background-color: rgb(207, 207, 207);
  padding-bottom: 10px;
  padding-top: 10px;
  border: 1px solid #bebebe;
}

/*-------------------------------------------------------------- HEADER-------------------------------------------------------------------------*/
.brandName {
  color: rgb(255, 255, 255);
  font-size: 400%;
  margin-left: 20px;
  text-align: center;
  font-family: "Fantasy";
  font-weight: bold;
}

a.cancel-button {
  color: rgb(255, 255, 255);
  background-color: #c86262;
  border-radius: 12px;
  padding: 5px;
}
a.cancel-button:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

/*-------------------------------------------------------------- LOGIN--------------------------------------------------------------------------*/
h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: "Fantasy";
  font-weight: bold;
}

.login-container {
  margin-left: 35%;
  margin-top: 50px;
  width: 30%;
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  position: fixed;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.login-container input {
  margin: 3px;
}
.login-container h2 {
  color: rgb(0, 0, 0);
  padding: 2px;
  text-align: center;
}
.login-container .register-button {
  color: rgb(0, 0, 0);
  background-color: #c2c0c0;
  border-radius: 12px;
  padding: 7px;
  padding-left: 70px;
  padding-right: 70px;
}
.login-container .register-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}
.login-container span.login-button {
  color: rgb(255, 255, 255);
  border-radius: 12px;
  background-color: #6290C8;
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
}
.login-container span.login-button:hover {
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------------------------------------- REGISTER--------------------------------------------------------------------------*/
/*-------------------------------------------------------------- DISPLAY TABLE--------------------------------------------------------------------------*/
a.edit-button, a.delete-button {
  background-color: #6290C8;
  color: #ffffff;
  padding: 5px;
  margin-right: 2px;
  /*-------------------------------------------------------------- NAV BUTTONS--------------------------------------------------------------------------*/
}
a.edit-button:hover, a.delete-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
a.edit-button .loginContainer, a.delete-button .loginContainer {
  padding-top: 20px;
  background-color: #E7E5DF;
}
a.edit-button span.login-button, a.delete-button span.login-button {
  background-color: #6290C8;
  color: white;
  padding: 10px;
}
a.edit-button span.login-button:hover, a.delete-button span.login-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

a.green-button, a.blue-button {
  padding-left: 10px;
  color: rgb(248, 248, 248);
  font-size: 20px;
  display: inline;
  font-weight: bold;
}
a.green-button:hover, a.blue-button:hover {
  color: rgb(134, 165, 250);
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------------------------------------- NAV BAR--------------------------------------------------------------------------*/
div#navbarBottom {
  background-color: #6290C8;
  border: 1px solid #868686;
}
div#navbarBottom li {
  display: inline;
  font-family: sans-serif;
  font-size: 20px;
  color: rgb(235, 118, 23);
}
div#navbarBottom li a {
  color: rgb(245, 245, 245);
  text-decoration: none;
  padding: 15px;
}
div#navbarBottom li a:hover {
  color: rgb(12, 12, 12);
}

/*-------------------------------------------------------------- TOP NAV--------------------------------------------------------------------------*/
div#navbarTop {
  left: 0;
  overflow: hidden;
  background-color: rgb(8, 8, 49);
  padding-top: 20px;
  top: 0;
  width: 100%;
}
div#navbarTop ul {
  text-align: center;
  margin: 0;
  padding: 15px;
}

/*-------------------------------------------------------------- SIDE NAV--------------------------------------------------------------------------*/
.sidenav {
  color: rgb(47, 47, 87);
  position: absolute;
  height: 100%;
  width: 20%;
  margin-top: 10px;
  left: 0;
  background-color: #eaecea;
  border: 1px solid #c4c3c3;
}
.sidenav h2 {
  color: rgb(255, 255, 255);
  background-color: #6290C8;
  text-align: center;
  padding-bottom: 5px;
  border: 1px solid #797979;
}
.sidenav a {
  padding-top: 6px;
  padding-left: 8px;
  padding-right: 6px;
  padding-bottom: 16px;
  text-decoration: none;
  font-size: 25px;
  color: #000000;
  display: block;
}
.sidenav a:hover {
  color: rgb(255, 255, 255);
  background-color: #6290C8;
  text-decoration: none;
}

/*-------------------------------------------------------------- FOOTER--------------------------------------------------------------------------*/
footer {
  left: 0;
  bottom: 0;
  width: 100%;
  margin-top: 1500px;
  position: static;
  background-color: rgb(8, 8, 49);
  color: white;
  text-align: center;
}

/*-------------------------------------------------------------- ADD--------------------------------------------------------------------------*/
form {
  margin-top: 10px;
  background-color: #eaeceb;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-right: 200px;
}
form a.red-button {
  color: rgb(255, 255, 255);
  background-color: #c86262;
  padding: 10px;
}
form a.red-button:hover {
  color: rgb(19, 19, 19);
  text-decoration: none;
  font-weight: bold;
}
form span.add-button {
  color: rgb(255, 255, 255);
  background-color: #4e8ad3;
  padding: 10px;
}
form span.add-button:hover {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
}

/*-------------------------------------------------------------- RESPONSIVE--------------------------------------------------------------------------*/
@media screen and (max-width: 840px) {
  .sidenav {
    display: none;
  }
}
@media screen and (max-width: 840px) and (max-width: 400px) {
  div#navbarBottom {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */